{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<h1>Home</h1>
<div class="generalDiv">
    

    <div class="home">

        <p>Welcome to my awesome magical report homepage</p>
        <p>My name is Benjamin and I am working as a Management Consultant specialising in Finance and Data Analytics. I have previously worked for the United Nations. When I am not doing that I study software engineering at BTH. To symbolise who I am, I have chosen Pikachu to represent me.</p>

        <img src="{{ asset('img/pikachu.jpg') }}" alt="Pikachu" style="width: 200px; height: 200px;">
    </div>
</div>


{% endblock %}