{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<h1>About MVC</h1>


<div class="generalDivReport">





    <div id="kmom01" class="reportBox home">

        <p>Welcome to my awesome magical report homepage</p>
        <p>My name is Benjamin and I am working as a Management Consultant specialising in Finance and Data Analytics. I
            have previously worked for the United Nations. When I am not doing that I study software engineering at BTH.
            To symbolise who I am, I have chosen Pikachu to represent me.</p>

        <img src="{{ asset('img/pikachu.jpg') }}" alt="Pikachu" style="width: 200px; height: 200px;">

    </div>

    <div id="kmom02" class="reportBox home">
        <p>To be continued....</p>
    </div>


    <div id="kmom03" class="reportBox home">

        <p>To be continued....</p>
    </div>

    <div id="kmom04" class="reportBox home">

        <p>To be continued....</p>
    </div>

    <div id="kmom05" class="reportBox home">
        <p>To be continued....</p>
    </div>

    <div id="kmom06" class="reportBox home">

        <p>To be continued....</p>

    </div>
    
</div>


{% endblock %}