
{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}


{% block body %}


<a href="{{ path('card_deck') }}">Deck of Cards</a>



<a href="{{ path('card_shuffle') }}">Shuffle Cards</a>

<a href="{{ path('card_draw') }}">Draw Cards</a>



{% endblock %}